@model dynamic

@{
    ViewBag.Title = "Admin Homepage";
}

<h2>Admin Homepage</h2>

<ul class="nav nav-pills nav-stacked">
  <li>@Html.ActionLink("Manage Titles", "Index", "Title")</li>
  <li>@Html.ActionLink("Manage Organizations", "Index", "Organization")</li>
  <li>@Html.ActionLink("Manage Instructors", "Index", "Instructor")</li>
  <li>@Html.ActionLink("Manage Experience Types", "Index", "ExperienceType")</li>
  <li>@Html.ActionLink("Manage Outcomes", "Index", "Outcome")</li>
  <li>@Html.ActionLink("Manage Badge Categories", "Index", "BadgeCategory")</li>
  <li>@Html.ActionLink("Manage Badge Requests", "Index", "BadgeRequest")</li>
  <li>@Html.ActionLink("Manage Badge Submissions", "Index", "BadgeSubmission")</li>
</ul>