@model Badges.Models.Student.ExperienceEditModel

@{
    ViewBag.Title = "Add Experience";
}

<h2>Add Experience</h2>

@using (Html.BeginForm("AddExperience", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Experience.Creator", Model.User.Id)

    @Html.Partial("_ExperienceForm")
}

@section AdditionalStyles
{
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/typeahead")
}

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/datepicker")
    <script>
        $(function() {
            $("#Experience_Name").typeahead({
                name: 'title',
                prefetch: '@Url.Action("Titles", "Json")',
                limit: 10
            });
            
            $("#Experience_Organization").typeahead({
                name: 'orgs',
                prefetch: '@Url.Action("Organizations", "Json")',
                limit: 10
            });

            $(".datepicker").datepicker();
        });
    </script>
}