@model Badges.Models.Student.ExperienceEditModel

@{
    ViewBag.Title = "Create an experience";
}

<h2 class="intro">Learning through experience</h2>

@using (Html.BeginForm("AddExperience", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Experience.Creator", Model.User.Id)

    @Html.Partial("_ExperienceForm")
}

@section AdditionalStyles
{
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/typeahead")
}

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/modifyexperience")
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNUxAy26HeRg-YRsD541p5M-5xgh4vOJA&sensor=true">
    </script>

    <script>
        $(function () {
            Badges.options({
                TitlesUrl: '@Html.Raw(Url.Action("Titles", "Json"))',
                OrganizationsUrl: '@Html.Raw(Url.Action("Organizations", "Json"))',
            });
            
            Badges.init();
        });
    </script>
}