@model IQueryable<Badges.Core.Domain.Experience>

@{
    ViewBag.Title = "My Portfolio";
}

<h2>My Portfolio</h2>

<div class="row">
    <div class="col-md-4">
        <div class="toprow">
            <div class="profilebox circlepic raised">
                @Html.Action("ViewProfileImage", "Profile")
                <span class="name">@ViewBag.Name</span>
            </div><!--/.profilebox-->
            <h1 class="title">Experiences</h1>
        </div>
    </div>
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <input type="select" class="form-control" placeholder="Sort by type"/>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Search"/>
            </div>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var experience in Model)
    {
        <div class="col-md-6">
            <div class="experience">
                <a href="#">
                <img src="../../Content/img/test-cover.jpg" alt="Exp pic goes here" />
                </a>
                <div class="details">
                    <div class="type circlepic raised col-md-2">
                        <div class="circle">
                            <i class="@Model.Experience.ExperienceType.Icon"></i>
                        </div><!--/.circle-->
                        <span class="name">@Model.Experience.ExperienceType.Name</span>
                    </div><!--/.type-->
                    <h3><a href="#">@Html.ActionLink(experience.Name, "ViewExperience", "Student", new { id = experience.Id}, null)</a></h3>
                    <p>@experience.Description</p>
                    <a href="#" class="footer">View full details &raquo;</a>
                </div>
            </div>
        </div>
    }
</div>