@model Badges.Models.Student.ExperienceViewModel

@{
    ViewBag.Title = "View Experience";
}

<h2>View Experience</h2>

<div class="row">
    <div class="col-sm-6">
        <div class="well">
            <fieldset>
                <legend>@Model.Experience.Name <a href="@Url.Action("EditExperience", "Student", new { id = Model.Experience.Id })" class="pull-right"><i class="icon-pencil"></i></a></legend>
                <p>@Model.Experience.Description</p>
                <hr/>
                <div class="container">
                    @foreach (var outcome in Model.ExperienceOutcomes)
                    {
                        <div class="col-sm-3">@outcome.Notes</div>
                    }
                </div>
            </fieldset>
        </div>
    </div>

    <div class="col-sm-2">
        <a href="#supporting-work" data-toggle="modal" class="btn img-rounded well well-lg">
            <i class="icon-plus icon-2x"></i>
            <h5>Add Supporting Work</h5>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="#outcome" data-toggle="modal" class="btn img-rounded well well-lg">
            <i class="icon-ok-sign icon-2x"></i>
            <h4>Add Outcome</h4>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="#supporting-work" data-toggle="modal" class="btn img-rounded well well-lg">
            <i class="icon-lightbulb icon-2x"></i>
            <h4>Request Feedback</h4>
        </a>
    </div>
</div>
<div class="row">
    @foreach (var work in @Model.SupportingWorks)
    {
        <div class="col-sm-3">
            <div class="well well-sm">
                <p>@work.Description</p>
                <img src="@Url.Action("ViewWork", "Student", new { id = work.Id })" class="img-thumbnail" />
            </div>
        </div>   
    }
</div>

<!-- Modal -->
<div id="supporting-work" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="supporting-work-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="supporting-work-label">Add Supporting Work</h3>
            </div>
            @using (Html.BeginForm("AddSupportingWork", "Student", new { id = Model.Experience.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group">
                            <label>Please enter a description of this work</label>
                            <textarea name="Description" class="form-control" placeholder="Work Description" data-val="true" data-val-required="Work Description Is Required"></textarea>
                            <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label>Upload File</label>
                            <input type="file" name="workFile" class="form-control" />
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" value="Add Work" />
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div id="outcome" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="outcome-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="outcome-label">Add Outcome</h3>
            </div>
            @using (Html.BeginForm("AddOutcome", "Student", new { id = Model.Experience.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group">
                            <label>Choose an outcome</label>
                            @Html.DropDownList("outcomeid", Model.Outcomes)
                        </div>
                        <div class="form-group">
                            <label>Feel free to enter some notes</label>
                            <textarea name="notes" class="form-control" placeholder="Outcome Notes" data-val="true" data-val-required="Notes are required"></textarea>
                            <span class="field-validation-valid" data-valmsg-for="notes" data-valmsg-replace="true"></span>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" value="Add Outcome" />
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            }
        </div>
    </div>
</div>