@model Badges.Models.Shared.ExperienceViewModel

@{
    ViewBag.Title = "View Experience";
}

@section AdditionalStyles
{
    <style type="text/css">
        .jumbotron.experience .container {
            background: url(@Model.Experience.CoverImageUrl) no-repeat;
            background-size: 100%;
            background-position: -50%;
        }
        .container.maincontent {padding-top: 0;}
        .alert {width: 100%; position: relative; z-index:100; float: left;}
    </style>
}

@Html.Partial("_ExperienceDashboard")

<div class="row work-dash">
    <div class="intro col-md-2">
        <!--<div class="thumbnail circlepic">
            @Html.Action("ViewProfileImage", "Profile")
        </div>-->
        <h3><strong>Add</strong> supporting work</h3>
    </div>
    <nav class="navbar col-md-10" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display
        <div class="navbar-header col-sm-1">
            <div class="thumbnail circlepic pull-right">
                @Html.Action("ViewProfileImage", "Profile")
            </div>
        </div> -->
        <div class="collapse navbar-collapse">
            <ul id="add-work" class="nav navbar-nav btn-toolbar">
                <li>
                    <a href="#supporting-work" data-work="text" data-helptext="Enter some text related to your experience" data-toggle="modal" class="btn btn-default">
                        <i class="icon-font icon-2x"></i>
                        <span>Text</span>
                    </a>
                </li>
                <li>
                    <a href="#supporting-work" data-work="photo" data-helptext="Please choose a URL to an image OR upload your own image" data-toggle="modal" class="btn btn-default">
                        <i class="icon-camera icon-2x"></i>
                        <span>Photo</span>
                    </a>
                </li>
                <li>
                    <a href="#supporting-work" data-work="link" data-helptext="Add a link related to this experience" data-toggle="modal" class="btn btn-default">
                        <i class="icon-link icon-2x"></i>
                        <span>Link</span>
                    </a>
                </li>
                <li>
                    <a href="#supporting-work" data-work="video" data-helptext="Youtube and Vimeo are supported" data-toggle="modal" class="btn btn-default">
                        <i class="icon-facetime-video icon-2x"></i>
                        <span>Video</span>
                    </a>
                </li>
                <li>
                    <a href="#supporting-work" data-work="audio" data-helptext="Upload an audio file related to this experience" data-toggle="modal" class="btn btn-default">
                        <i class="icon-music icon-2x"></i>
                        <span>Audio</span>
                    </a>
                </li>
                <li>
                    <a href="#supporting-work" data-work="file" data-helptext="Upload a file related to your experience. If it is a photo, video, or audio file, please use those buttons instead." 
                       data-toggle="modal" class="btn btn-default">
                        <i class="icon-file icon-2x"></i>
                        <span>File</span>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>


<div class="row">
    <div class="col-md-9">
    @Html.Partial("_ExperienceWork")
    </div>
    <div class="col-md-3">
        <div class="outcomes">

            <a href="#outcome" data-toggle="modal" class="btn">
                Add a new outcome &raquo;
            </a>
        </div>
        <div class="feedback">
            <div class="quote">
                <blockquote>This is by far the most desert-like desert I’ve been to all year.</blockquote>
                <div class="author">- Monkey R.</div>
            </div>
            <div class="quote">
                <blockquote>Needs more sand.</blockquote>
                <div class="author">- Ramsel R.</div>
            </div>
            <a href="#feedback" data-toggle="modal" class="btn">
                Send a feedback request &raquo;
            </a>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="outcome" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="outcome-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="outcome-label">Add Outcome</h3>
            </div>
            @using (Html.BeginForm("AddOutcome", "Student", new { id = Model.Experience.Id }, FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group">
                            <label>Choose an outcome</label>
                            @Html.DropDownList("outcomeid", Model.Outcomes, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Outcome level</label>
                            <span class="form-control">
                                <span class="float-left">Novice</span>
                                <input type="range" name="rating" min="1" max="10" step=".25" value="5" data-val="true" data-val-range="Please choose an outcome level" data-val-range-max="10" data-val-range-min="1" />
                                <span class="float-right">Expert</span>
                            </span>
                            <span class="field-validation-valid" data-valmsg-for="rating" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label>Feel free to enter some notes</label>
                            <textarea name="notes" class="form-control" placeholder="Outcome Notes" data-val="true" data-val-required="Notes are required"></textarea>
                            <span class="field-validation-valid" data-valmsg-for="notes" data-valmsg-replace="true"></span>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" value="Add Outcome" />
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div id="feedback" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="feedback-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="feedback-label">Request Feedback</h3>
            </div>
            @using (Html.BeginForm("RequestFeedback", "Student", new { id = Model.Experience.Id }, FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <p class="alert alert-info">Note that Requesting Feedback will make this Experience viewable to your instructors</p>
                    <fieldset>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea name="message" class="form-control" placeholder="Feedback Request Message" data-val="true" data-val-required="Message is required"></textarea>
                            <span class="field-validation-valid" data-valmsg-for="message" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label>Recipients</label>
                            @Html.DropDownList("Instructors", Model.Instructors, new { @class = "form-control", multiple = "multiple"})
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" value="Request Feedback" />
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div id="supporting-work" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="supporting-work-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <i class="icon-add"></i>
                <h3 id="supporting-work-label">Add supporting work</h3>
            </div>
            @using (Html.BeginForm("AddSupportingWork", "Student", new { id = Model.Experience.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="work-type" name="type" value="photo"/>
                    <fieldset id="supporting-work-fields">
                        <p id="work-helptext" class="well">What made this experience impactful?</p>
                        <div id="work-description" class="form-group">
                            <input type="text" name="description" class="form-control" placeholder="Work Description" maxlength="140" data-val="true" data-val-required="Work Description Is Required"></input>
                            <span class="field-validation-valid" data-valmsg-for="description" data-valmsg-replace="true"></span>
                        </div>
                        <div id="work-url" class="form-group work-optional">
                            <label>Enter URL</label>
                            <input type="text" name="url" class="form-control" placeholder="Enter Url"/>
                        </div>
                        <div id="work-file" class="form-group work-optional">
                            <label>Upload File</label>
                            <input type="file" name="workFile" class="form-control" />
                            <span id="upload-error" class="field-validation-error" style="display:none;"></span>
                        </div>
                        <div id="work-notes" class="form-group work-optional">
                            <label>Notes</label>
                            <textarea name="notes" class="form-control"></textarea>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" value="Add Work" />
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/studentexperience")
    @Scripts.Render("~/bundles/isotope")

    <script>
        $(function() {
            Badges.init();
            
            //$('#work-container').isotope({
                // options
            //    itemSelector: '.work-item',
            //    layoutMode: 'masonry'
            //});
        });
    </script>
}
