@model Badges.Models.Shared.ExperienceViewModel

<div class="row">
    <div class="col-md-8">
        <div class="well">
            <fieldset>
                <legend>@Model.Experience.Name 
                    @if (Model.Experience.Creator.Identifier == User.Identity.Name)
                    {
                        <a href="@Url.Action("EditExperience", "Student", new {id = Model.Experience.Id})" class="pull-right">
                            <i class="icon-pencil"></i>
                        </a>
                    }
                </legend>
                <p>@Model.Experience.Description</p>
                <hr/>
                <div class="container">
                    @foreach (var outcome in Model.ExperienceOutcomes)
                    {
                        <div class="col-sm-3">@outcome.Notes</div>
                    }
                </div>
            </fieldset>
        </div>
        <div>
            @foreach (var work in @Model.SupportingWorks)
            {
                <div class="col-md-3">
                    <div class="well well-sm">
                        <p>@work.Description</p>
                        @Html.Partial("_ViewWork", work)
                    </div>
                </div>
            }
        </div>
    </div>
    @if (Model.Feedback.Any())
    {
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Comments</h3>
                </div>
                @*<div class="panel-body">Panel content</div>*@
                <ul class="list-group">
                    @foreach (var feedback in Model.Feedback)
                    {
                        <li class="list-group-item">
                            <blockquote>
                                <p>@feedback.Response</p>
                                <small>@string.Format("{0} on {1:d}", feedback.Instructor.DisplayName, feedback.ResponseDate)
                                </small>
                            </blockquote>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>
