@model Badges.Models.Shared.ExperienceViewModel

<div class="row">
    <div class="col-md-9">
    @Html.Partial("_ExperienceWork")
    </div>
    <div class="col-md-3">
        <div id="outcomes" class="outcomes">
            @{
                var outcomeCategories = Model.ExperienceOutcomes.Select(x => x.Outcome.Name).Distinct().ToArray();
            }
            @foreach (var outcomeCategoryName in outcomeCategories)
            {
                <div class="outcome">
                    <h4>@outcomeCategoryName</h4>
                    <ul>   
                    @foreach (var outcome in Model.ExperienceOutcomes.Where(x=>x.Outcome.Name == outcomeCategoryName).ToArray())
                    {
                        <li style="padding-top: 20px">
                            @string.Format("{0:D}", outcome.Created)
                            @if (User.IsInRole(Badges.Core.Domain.RoleNames.Student))
                            {
                                <span class="pull-right">
                                    <a href="#outcome" data-toggle="modal" data-name="@outcomeCategoryName" data-id="@outcome.Id" data-note="@outcome.Notes" class="outcome-edit">
                                        <i class="icon-edit"></i>
                                    </a>
                                    <form>
                                        <button type="submit" class="btn btn-link btn-xs">
                                            <i class="icon-remove"></i>
                                        </button>
                                    </form>
                                </span>
                            }
                        </li>
                    }
                    </ul>
                </div>
            }

            @if (User.IsInRole(Badges.Core.Domain.RoleNames.Student))
            {
                <a id="outcome-add" href="#outcome" data-toggle="modal" class="btn">
                    Add a new outcome &raquo;
                </a>
            }
        </div>
        <div class="feedback">
            @foreach (var feedback in Model.Feedback)
            {
                <div class="quote">
                    <blockquote><i class="icon-quote-left pull-left icon-muted"></i>@feedback.Response</blockquote>
                    <div class="author">- @feedback.Instructor.DisplayName</div>
                </div>
            }
            @if (User.IsInRole(Badges.Core.Domain.RoleNames.Student))
            {
                <a href="#feedback" data-toggle="modal" class="btn">
                    Send a feedback request &raquo;
                </a>
            }
        </div>
    </div>
</div>