@model Badges.Models.Shared.ExperienceViewModel

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron experience row">
    <div class="container col-md-12">
        <div class="overlay">
            <div class="toprow">
                <div class="profilebox circlepic raised">
                    <a href="#">
                        <img src="@ImageHelper.GetProfileImage(Model.Experience.Creator.Profile.ImageUrl)" alt="@ViewBag.ProfileName" />
                        <span class="name">@Model.Experience.Creator.Profile.DisplayName</span>
                    </a>
                </div><!--/.profilebox-->
                <h1 class="title">@Model.Experience.Name</h1>
            </div><!--/.toprow-->
            <div class="btmrow">
                <h3 class="location"><i class="icon-map-marker"></i>@Model.Experience.Location</h3>
            </div><!--/.btmrow-->
        </div><!--/.overlay-->
        <div class="details row">
            <div class="type circlepic raised col-md-2">
                <div class="circle">
                    <i class="@Model.Experience.ExperienceType.Icon"></i>
                </div><!--/.circle-->
                <span class="name">@Model.Experience.ExperienceType.Name</span>
            </div><!--/.type-->
            <div class="text col-md-6">
                @if (Model.Experience.End.HasValue)
                {
                    <p class="date">@Model.Experience.Start.ToString("MMMM yyyy") --- @Model.Experience.End.Value.ToString("MMMM yyyy")</p>
                }
                else
                {
                    <p class="date">@string.Format("{0:D}", Model.Experience.Start)</p>
                }
                    <p class="brief">@Model.Experience.Description</p>
            </div><!--/.text-->
            <div class="participants circlepic raised col-md-4">
                @foreach (var instructor in Model.Experience.Instructors.Take(3))
                {
                    <a href="#">
                        <img src="@ImageHelper.GetProfileImage(instructor.User.Profile.ImageUrl)" alt="@instructor.ShortName" />
                        <span class="name">@instructor.ShortName</span>
                    </a>
                }
            </div><!--/.participants-->
        </div><!--/.details-->
        <div class="footer row">
            <div class="moretext col-md-offset-2 col-md-4">
                <a href="#">View more details &raquo;</a>
            </div><!--/.moretext-->
            <div class="moreppl col-md-6">
                <a href="#">View all participants &raquo;</a>
                @if (Model.Experience.Creator.Identifier == User.Identity.Name)
                {
                    <a href="@Url.Action("EditExperience", "Student", new {id = Model.Experience.Id})" class="pull-right">
                        <i class="icon-pencil"></i> Edit Experience
                    </a>
                    <a href="#delete-experience" data-work="delete" data-helptext="Delete photo, video, or audio file."
                       data-toggle="modal" class="pad-horiz-10">
                        <i class="icon-trash icon"></i> Delete Experience
                    </a>
                }
            </div><!--/.moretext-->
        </div><!--/.footer-->
    </div><!--/.container-->
</div><!--/.jumbotron-->

@if (Model.Experience.Creator.Identifier == User.Identity.Name)
{
<!--Modal for Delete-->
<div id="delete-experience" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="supporting-work-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="supporting-work-label">Delete Experience</h3>
            </div>
            @using (Html.BeginForm("DeleteExperience", "Student", new { id = Model.Experience.Id }, FormMethod.Get, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    This will delete all files associated with the experience and is not reversable!
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" value="Delete Experience" />
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            }
        </div>
    </div>
</div>
}