@model Badges.Models.Shared.ExperienceViewModel

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="overlay">
            <div class="toprow">
                <div class="profilebox circlepic raised">
                    <a href="#">
                        <img src="@ImageHelper.GetProfileImage(Model.Experience.Creator.Profile.ImageUrl)" alt="@ViewBag.ProfileName" />
                        <span class="name">@Model.Experience.Creator.Profile.DisplayName</span>
                    </a>
                </div><!--/.profilebox-->
                <h1 class="title">@Model.Experience.Name</h1>
            </div><!--/.toprow-->
            <div class="btmrow">
                <h3 class="location"><i class="icon-map-marker"></i>@Model.Experience.Location</h3>
            </div><!--/.btmrow-->
        </div><!--/.overlay-->
        <div class="details row">
            <div class="type circlepic raised col-md-1">
                <div class="circle">
                    <i class="@Model.Experience.ExperienceType.Icon"></i>
                </div><!--/.circle-->
                <span class="name">@Model.Experience.ExperienceType.Name</span>
            </div><!--/.type-->
            <div class="text col-md-7">
                <p class="date">@string.Format("{0:D}", Model.Experience.Start)</p>
                <p class="brief">@Model.Experience.Description</p>
            </div><!--/.text-->
            <div class="participants circlepic raised col-md-4">
                @foreach (var instructor in Model.Experience.Instructors.Take(3))
                {
                    <a href="#">
                        <img src="@ImageHelper.GetProfileImage(instructor.User.Profile.ImageUrl)" alt="@instructor.DisplayName" />
                        <span class="name">@instructor.DisplayName</span>
                    </a>
                }
            </div><!--/.participants-->
        </div><!--/.details-->
        <div class="footer row">
            <div class="moretext col-md-offset-1 col-md-7">
                <a href="#">View more details &raquo;</a>
            </div><!--/.moretext-->
            <div class="moreppl col-md-4">
                <a href="#">View all participants &raquo;</a>
                @if (Model.Experience.Creator.Identifier == User.Identity.Name)
                {
                    <a href="@Url.Action("EditExperience", "Student", new {id = Model.Experience.Id})" class="pull-right">
                        <i class="icon-pencil"></i> Edit Experience
                    </a>
                }
            </div><!--/.moretext-->
        </div><!--/.footer-->
    </div><!--/.container-->
</div><!--/.jumbotron-->

<div class="row">
    <div class="col-md-8">
        <div class="container">
            @foreach (var outcome in Model.ExperienceOutcomes)
            {
                <div class="col-sm-3">@outcome.Notes</div>
            }
        </div>
    </div>
    @if (Model.Feedback.Any())
    {
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Comments</h3>
                </div>
                @*<div class="panel-body">Panel content</div>*@
                <ul class="list-group">
                    @foreach (var feedback in Model.Feedback)
                    {
                        <li class="list-group-item">
                            <blockquote>
                                <p>@feedback.Response</p>
                                <small>@string.Format("{0} on {1:d}", feedback.Instructor.DisplayName, feedback.ResponseDate)
                                </small>
                            </blockquote>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>
