<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico">

    <title>Badges!</title>

    <!-- Bootstrap core CSS -->
    @*<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">*@
    @*<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/united/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">  *@
     
    @Styles.Render("~/Content/styles")
    
    <script type="text/javascript" src="//use.typekit.net/mgb1ptx.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    @*<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->*@
  
      @RenderSection("AdditionalStyles", false)
  </head>

    <body>
        @Html.Partial("_Navigation")
        
        <div class="container maincontent">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <ul class="nav nav-pills pull-right">
                        @RenderSection("SubNav", false)
                    </ul>
                </div>
            </div>
            
            <div>
                @if (!string.IsNullOrWhiteSpace(TempData["ErrorMessage"] as string))
                {
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        @Html.Raw(TempData["ErrorMessage"])
                    </div>
                }
            
                @if (!string.IsNullOrWhiteSpace(TempData["Message"] as string))
                {
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        @TempData["Message"]
                    </div>
                }
            </div>

            @RenderBody()

        </div><!-- /.container -->

        <!-- Bootstrap core JavaScript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/chosen")
        
        @*<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>*@
        
        @RenderSection("AdditionalScripts", false)

        <script type="text/javascript">
            // array to consolidate controller under one header
            var setupController = ['setup', 'template'];

            $(function () {
                //All select lists should use chosen
                $("select:visible").chosen();

                //Choose the active link depending on your current controller
                var controller = '@ViewContext.RouteData.Values["controller"].ToString().ToLower()';
                $("#nav-" + controller).addClass("active");
            });

            $('#expand-notifications').on("click", function () {
                $('#notifications-preview').stop(true, false).slideToggle(250);
            });

            $(document).mouseup(function (e) {
                var container = $("#notifications-preview");

                if (!container.is(e.target) && container.has(e.target).length === 0 && !$("#expand-notifications").is(e.target)) {
                    container.stop(true, false).slideUp(250);
                }
            });
            
            $(document).ready(function () {
                $.get("@Url.Action("NavigationPartial", "Notifications", new { area = string.Empty })", function(data) {
                    $("#notification-container").append(data);
                });
            });
        </script>
    </body>
</html>
