<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Badges</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li id="nav-home">@Html.ActionLink("Home", "Index", "Home")</li>
                @if (User.Identity.IsAuthenticated && User.IsInRole(Badges.Core.Domain.RoleNames.Student))
                {
                    <li id="nav-portfolio">@Html.ActionLink("Portfolio", "Portfolio", "Student")</li>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole(Badges.Core.Domain.RoleNames.Administrator))
                {
                    <li id="nav-admin">@Html.ActionLink("Admin", "Index","Landing")</li>
                }
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> Welcome, @User.Identity.Name <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Edit", "Profile")"><i class="icon-book"></i>My Profile</a></li>
                            <li><a href="#"><i class="icon-envelope"></i>Contact Support</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("LogOut", "Account")"><i class="icon-off"></i>Logout</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Login", "Account")"><i class="icon-lock"></i> Log On</a></li>
                </ul>
            }
        </div>
    </div>
</div>