<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="@Url.Content("~/Content/img/logo-safs.png")" alt="UC Davis Sustainable Agriculture and Food Systems" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li id="nav-home">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { title = "Home" } )</li>
                @if (User.Identity.IsAuthenticated && User.IsInRole(Badges.Core.Domain.RoleNames.Student))
                {
                    <li class="nav-add">@Html.ActionLink("Add Experience", "AddExperience", "Student", new { area = "" }, new { title = "Add Experience" })</li>
                    <li class="nav-view">@Html.ActionLink("Portfolio", "Portfolio", "Student", new { area = "" }, new { title = "Portfolio" })</li>
                    <li class="nav-badges">@Html.ActionLink("Badge Studio", "Index", "Badge", new { area = "" }, new { title = "Badge Studio" })</li>
                }
                
                <li class="nav-notifications" id="notification-container">
                    <a id="expand-notifications" href="#" title="Notifications"></a>
                    
                </li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="navbar-right">
                    <div class="profilebox circlepic">
                        <a href="@Url.Action("Edit", "Profile", new { area = string.Empty })">
                            <img src="@ImageHelper.GetProfileImage(ViewBag.ProfileImage)" alt="@ViewBag.ProfileName" />
                            <span class="name">@ViewBag.ProfileName</span>
                        </a>
                    </div>
                </div>
            }
            else
            {
                <div class="navbar-right">
                    <a href="@Url.Action("Login", "Account")"><i class="icon-lock"></i> Login</a>
                </div>
            }
        </div><!--/.navbar-collapse -->
    </div>
</div>