@using Badges.Core.Domain
@model SupportingWork

@switch (Model.Type)
{
    case SupportingWorkTypes.Photo:
        if (string.IsNullOrWhiteSpace(Model.Url))
        {
            <img src="@Url.Action("ViewWorkFile", "Experience", new {id = Model.Id})" alt="@Model.Description" />
        }
        else
        {
            <img src="@Model.Url" alt="@Model.Description" />
        }
        break;
    case SupportingWorkTypes.Text:
        <blockquote>
            <object>@(Model.Notes.Length > 256 ? Model.Notes.Substring(250) + "..." : Model.Notes)</object>
        </blockquote>
        break;
    case SupportingWorkTypes.Video:
        var embedUrl = Model.GetEmbedUrl();
        if (!string.IsNullOrWhiteSpace(embedUrl))
        {
            <iframe src="@Model.GetEmbedUrl()" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        }
        break;
    case SupportingWorkTypes.Link:
        
        <i class="icon-link"></i> <a href="@Model.Url" target="_blank"><span>@Model.Description</span> @Model.Url</a>
        break;
    case SupportingWorkTypes.File:
        <a href="@Url.Action("ViewWorkFile", "Experience", new {id = Model.Id})">@Model.Description <i class="icon-download"></a></i> 
        <span class="footer"><a href="@Url.Action("ViewWorkFile", "Experience", new {id = Model.Id})">Download @Model.Name</a></span>
        break;
    case SupportingWorkTypes.Audio:
        <audio controls>
            <source src="@Url.Action("ViewWorkFile", "Experience", new {id = Model.Id})" type="@Model.ContentType">
            <embed height="50" width="100" src="@Url.Action("ViewWorkFile", "Experience", new {id = Model.Id})">
        </audio>
        break;
}