@{
    ViewBag.Title = "NavigationPartial";
    Layout = null;
}

@if (Model.UnreadNotificationCount > 0)
{
    <span class="unread animated bounceIn" >@Model.UnreadNotificationCount</span>
}

<div id="notifications-preview">
        @foreach (var notification in Model.RecentNotifications)
    {
        <a class="notification  @((notification.Pending) ? "notification-pending" : "")" href="@Url.Action("View", "Notifications", new {id = notification.Id})">@notification.Message</a>
    }
   @Html.ActionLink("View all notifications", "Index", "Notifications", new { area = "" }, new { @class = "all-notifications", title = "Notifications" })
</div>