@model Badges.Models.Public.BadgeViewModel

@{
    ViewBag.Title = "Badges";
}

<div class="container">
    <h2>

        Viewing the badge: <strong>@Model.BadgeSubmission.Badge.Name</strong> awarded to <strong>@Model.CreatorProfile.DisplayName</strong> on <em>@string.Format("{0:d}", Model.BadgeSubmission.AwardedOn)</em>
        <br><br />
    </h2>
</div>
<div id="work-container" class="container work">
    <div class="row">
        <span class="pull-left">
            <img class="media-object" alt="Badge Icon" src="@Model.BadgeSubmission.Badge.ImageUrl" style="width: 120px; height: 120px;">
        </span>

        <div class="container work">
            <h3 class="media-heading">@Model.Badge.Name</h3>
            <p>@Model.Badge.Description</p>
        </div>
    </div>
</div>

<div class="col-md-12">
    <center>
        <h3>Evidence for the <span class="badge-title">@Model.Badge.Name</span></h3>
        <p class="helptext">For each criterion that this badge required, here are the supporting experiences or specific works.</p>
    </center>
</div>

<div id="work-container" class="container work">
    <div class="row">
        @foreach (var exp in Model.Experiences)
        {
           <center> <h2> Here is the supporting work from <strong>" @exp.Name"</strong> </h2></center> <br><br />
            if (exp.SupportingWorks == null)
            {
                <h3> No work to display!</h3>
            }
            else { 
                foreach (var work in exp.SupportingWorks)
                {
                    @* <div class="col-md-4"> *@
                    <div class="@work.Type work-item-box">
                        @Html.Partial("_ViewWork", work)

                    </div>
                    @* </div> *@
                }
            }
        }
    </div>
</div>
