@model Badges.Models.Badge.BadgeAddModel

@{
	ViewBag.Title = "Design a new badge";
}




@section SubNav
{
	<li>@Html.ActionLink("Back to List", "Index")</li>
}

<div class="container form">
<form method="POST" class="form-horizontal well-small" novalidate="novalidate">
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<fieldset>
	<div class="row">
	    <div class="intro col-md-8">
	    <h2>Design a new badge</h2>
	        <p>Be specific so the user understands what exactly you are looking for. Example: After Dinosaur #1 moves out of his/her parents' den what will Dinosaur #1 do? We need to know his employment plan, feeding area, as well as living situation. This information will not be sold or given to carnivores.</p>			
	    </div>
    </div>
    <div class="form-group">
	    <div class="col-md-6 col-md-offset-1">
	        @Html.LabelFor(x=>x.Name)
	        @Html.EditorFor(x=>x.Name)
	        @Html.ValidationMessageFor(x=>x.Name)
	    </div>
	    <div class="col-md-4">
	        @Html.LabelFor(x=>x.Category)
	        <select class="form-control" id="Category" name="Category">
	            @foreach (var badgeCategory in Model.BadgeCategories)
	            {
	                <option value="@badgeCategory.Id" data-img="@badgeCategory.ImageUrl">@badgeCategory.Name</option>
	            }
	        </select>
	        @Html.ValidationMessageFor(x => x.Category)
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-md-6 col-md-offset-1">
	        @Html.LabelFor(x => x.Description)
	        @Html.EditorFor(x => x.Description)
	        @Html.ValidationMessageFor(x => x.Description)
	    </div>
	    <div class="type-img col-md-4">
	    	<img id="category-image" src="@Url.Content(Model.BadgeCategories.First().ImageUrl)" style="height:300px;" alt="Type 1" />
	    </div>
	</div>
	<div class="form-group">
		<div class="helptext col-md-10 col-md-offset-1">
			<h3>Add criteria to define this badge</h3>
			<p>Need to explain more blah blah blah.</p>
		</div>
	</div>
	<div class="form-group">
	    <div class="col-md-10 col-md-offset-1">
	        <table class="table badge-criteria">

	            <tbody data-bind="foreach: criteria">
	                <tr>
	                    <td>
	                    	<div class="criteria-label col-md-2">
	                        <label>#<span data-bind="html: $index() + 1"></span></label></div>

	                        <div class="col-md-9">
	                            <input type="text" class="form-control" maxlength="140" data-bind="value: description, hasfocus: $index() !== 0, executeOnEnter: $root.addCriterion, attr: { name: 'criteria['+ $index() +']' }"/>
	                        </div>
	                    </td>
	                </tr>
	            </tbody>
	            <tfoot>
		            <tr>
		            	<td>
		            		<div class="col-md-2">
		            		<label><a href="addRow" data-bind="click: addCriterion"><img src='@Url.Content("~/Content/img/btn-plus-light.png")' alt="+" /></a></label></div>
		            		<div class="col-md-9">
	                        <input type="text" class="form-control" data-bind="click: addCriterion" maxlength="0" />
	                        </div>
		            	</td>
		            </tr>
		        </tfoot>
	        </table>
	    </div>
	</div>
	<div class="row">
        <div class="form-actions col-md-offset-4 col-md-7">
            <button type="submit" class="btn btn-success" data-bind="enable: valid"><i class="icon-ok button-icon"></i> Create badge</button>
			@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
    </fieldset>
</form>

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/badgecreate")

    <script>
        $(function() {
            Badges.init();
        })
    </script>
}
