@model Badges.Models.Badge.BadgeApplicationModel

@{
    ViewBag.Title = "Earn";
}

@section AdditionalStyles
{
    @Styles.Render("~/Content/typeahead")
    <style type="text/css">
        .typeahead-worktype {
            margin: 0 20px 5px 20px;
            padding: 3px 0;
            border-bottom: 1px solid #ccc;
        }
    </style>
}

@using (Html.BeginForm("Earn", "Badge", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6 intro">
            <h2>Make your case and earn this badge</h2>
            <p>Now that your goal is in sight, provide evidence to let us know why you’re qualified for this badge. Select a criteria, and then associate work from your portfolio with each. Be sure to articulate your choices as necessary.</p>
        </div>
        <div class="col-md-6 well well-sm badge-to-earn">
            <div class="media">
                <span class="pull-left" >
                    <img class="media-object" alt="Badge Icon" src="@Model.Badge.ImageUrl" style="width: 120px; height: 120px;">
                </span>
                <div class="badge-desc media-body">
                    <h3 class="media-heading">@Model.Badge.Name</h3>
                    <p>@Model.Badge.Description</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h3>Criteria for the <span class="badge-title">@Model.Badge.Name</span></h3>
            <p class="helptext">For each criterion, add supporting experiences or specific works.</p>
        </div>
    </div>
    <div class="row">
        <div id="badge-criteria" class="col-md-12" data-bind="foreach: criteria">
                <div class="row criterion">
                    <div class="col-md-3">
                        <div class="associated-work-container">
                            <h4>#<span data-bind="html: $index() + 1"></span></h4> 
                            <blockquote><p data-bind="html: details"></p></blockquote>             
                            <input type="hidden" data-bind="value: id, attr: {name: 'criterion[' + $index() + '].Id' }" />

                            <div class="form-actions">
                                <a href="#associate-work" data-toggle="modal" data-bind="click: function (data) { $root.associateWork($index(), data) }" class="btn btn-success associate-modal"><i class="icon-plus"></i> Add Work</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="associated-work-items">
                            <div class="associated-work" id="associated-work" data-bind="foreach: fulfillments">
                                    <div class="work-item">
                                        <img src="../../Content/img/test-frictionclimb.jpg" alt="" />
                                        <h4 data-bind="html: details"></h4>
                                        <input type="hidden" data-bind="value: workid, attr: { name: 'criterion[' + $parentContext.$index() + '].work[' + $index() + '].' + worktype }" />
                                        <input type="text" placeholder="Comments" data-bind="value: comment, attr: { name: 'criterion['+ $index() +'].work['+ $index() +'].comment' }" />
                                        <div class="work-actions">
                                            <a href="view" class="view" target="_blank" data-bind="attr: { href: '@(Html.Raw(Url.Action("ViewExperience", "Student", new { area = string.Empty })))/' + experienceid }"><i class="icon-eye-open"></i></a>
                                            <a href="comment" class="comment"><i class="icon-comment"></i></a>
                                            <a href="delete" class="delete" data-bind="click: $parent.removeFulfillment"><i class="icon-trash"></i></a>
                                        </div>
                                    </div>
                            </div>
                            <div class="no-work-til-brooklyn" data-bind="visible: fulfillments().length === 0">
                                <h3>Nothing to see here</h3>
                                <p>Get started associating work and experiences with that big green button to the left there.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
                <label>Reflections on earning the <span class="badge-title">@Model.Badge.Name</span></label>
                <textarea name="reflections" class="form-control" placeholder="Summarize your thoughts here. Why are you qualified to earn this badge?">@Model.Reflection</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Save</button>
                <button type="submit" class="btn btn-success" formaction="@Url.Action("Submit", "Badge", new { id = Model.Badge.Id })"><i class="icon-flag"></i> Submit</button>
                <a href="#" class="btn btn-default"><i class="icon-remove"></i> Cancel</a>
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div id="associate-work" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="associate-work-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-1">
                        <span class="criterion-number">#<span data-bind="html: criteriaIndex"></span></span>
                    </div>
                    <div class="col-md-10">
                        <h3 id="associate-work-label">Associate work for this criteria</h3>
                        <p id="current-criterion" data-bind="html: criteriaDetails"></p>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form>
                    <input id="searchbox" type="search" class="form-control" placeholder="Search your experiences and work"/>
                </form>
                <div class="row">
                    <div class="col-md-5"><h5>Experiences</h5></div>
                    <div class="col-md-7"><h5>Work</h5></div>
                </div>
                <i id="work-loading-indicator" class="icon-spinner icon-spin"></i>
                <div class="panel-group" id="experience-accordion">
                    <div class="panel panel-default experience" data-bind="foreach: experiences">
                        <div class="panel-collapse collapse" data-bind="attr: { id: 'collapse' + $index() }, css: { 'in': $index() === 0 }">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-5 experience-col">
                                        <a href="#" class="association" data-bind="click: associateExperience, attr: { id: id, 'data-text': name }" data-type="experience">
                                            <img alt="Experience Picture" data-bind="attr: { src: coverImageUrl }" style="display: block;"/>
                                        </a>
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#experience-accordion" data-bind="html: name, attr: { href: '#collapse' + $index() }"></a>
                                            <a href="#" target="_blank" class="pull-right"><i class="icon-external-link"></i></a>
                                        </h4>
                                    </div>
                                    <div class="col-md-7 work-col">
                                        <ul class="experience-contents nav nav-pills" data-bind="foreach: work">
                                            <li class="potential work-item">
                                                <a href="#" class="association" data-bind="click: $parent.associateWork, attr: { id: Id, 'data-text': Description, 'data-worktype': Type }" data-type="work">
                                                    <strong data-bind="html: Type"></strong> <span data-bind="html: Description"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/earn")
    @Scripts.Render("~/bundles/isotope")

    <script>
        Badges.options({
            CriteriaUrl: '@Html.Raw(Url.Action("Fulfillments", new {id = Model.Badge.Id}))',
            MyExperiencesUrl: '@Html.Raw(Url.Action("MyExperiences"))',
            MyWorkUrl: '@Html.Raw(Url.Action("MyWork"))',
            TypeaheadExperiencesUrl: '@Html.Raw(Url.Action("MyExperiences", "Json"))',
            TypeaheadWorkUrl: '@Html.Raw(Url.Action("MyWork", "Json"))'
        });

        $(function() {
            Badges.init();

            $('.experience-contents').isotope({
                // options
                itemSelector: '.potential.work-item',
                layoutMode: 'masonry'
            });
        });
    </script>
}
