@model Badges.Models.Badge.BadgeApplicationModel

@{
    ViewBag.Title = "Earn";
}

@section AdditionalStyles
{
    @Styles.Render("~/Content/typeahead")
    <style type="text/css">
        .typeahead-worktype {
            margin: 0 20px 5px 20px;
            padding: 3px 0;
            border-bottom: 1px solid #ccc;
        }
    </style>
}

@using (Html.BeginForm("Earn", "Badge", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6 intro">
            <h2>Make your case and earn this badge</h2>
            <p>Now that your goal is in sight, provide evidence to let us know why you’re qualified for this badge. Select a criteria, and then associate work from your portfolio with each. Be sure to articulate your choices as necessary.</p>
        </div>
        <div class="col-md-6 well well-sm badge-to-earn">
            <div class="media">
                <span class="pull-left" >
                    <img class="media-object" alt="Badge Icon" src="@Model.Badge.ImageUrl" style="width: 120px; height: 120px;">
                </span>
                <div class="badge-desc media-body">
                    <h3 class="media-heading">@Model.Badge.Name</h3>
                    <p>@Model.Badge.Description</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h3>Criteria for the <span class="badge-title">@Model.Badge.Name</span></h3>
            <p class="helptext">For each criterion, add supporting experiences or specific works.</p>
        </div>
    </div>
    <div class="row">
        <div id="badge-criteria" class="col-md-12">
            @for (var i = 0; i < Model.BadgeCriterias.Count; i++)
            {
                var criterion = Model.BadgeCriterias[i];
                var fulfillments = Model.Fulfillments.Where(x => x.CriteriaId == criterion.Id);
                <div class="row criterion">
                    <div class="col-md-3">
                        <div class="associated-work-container">
                            <h4>#@(i + 1)</h4> 
                            <blockquote><p>@criterion.Details</p></blockquote>             
                            <input type="hidden" name="@string.Format("criterion[{0}].Id", i)" value="@criterion.Id"/>

                            <div class="form-actions">
                                <a href="#associate-work" data-toggle="modal" data-criterion="@criterion.Details" class="btn btn-success associate-modal"><i class="icon-plus"></i> Add Work</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="associated-work-items">
                            <div class="associated-work" id="associated-work" data-index="@i">
                                @foreach (var fulfillment in fulfillments)
                                {
                                    <div class="work-item">
                                        <img src="../../Content/img/test-frictionclimb.jpg" alt="" />
                                        <h4>@fulfillment.Details</h4>
                                        <input type="hidden" name="@string.Format("criterion[{0}].{1}", i, fulfillment.WorkType)" value="@fulfillment.WorkId" />
                                        <input type="text" placeholder="Comments" name="@string.Format("criterion[{0}].comment", i)" value="@fulfillment.Comment" />
                                        <div class="work-actions">
                                            <a href="view" class="view"><i class="icon-eye-open"></i></a>
                                            <a href="comment" class="comment"><i class="icon-comment"></i></a>
                                            <a href="delete" class="delete"><i class="icon-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="work-item">
                                        <img src="../../Content/img/test-dinodrive.jpg" alt="" />
                                        <h4>@fulfillment.Details</h4>
                                        <input type="hidden" name="@string.Format("criterion[{0}].{1}", i, fulfillment.WorkType)" value="@fulfillment.WorkId" />
                                        <input type="text" placeholder="Comments" name="@string.Format("criterion[{0}].comment", i)" value="@fulfillment.Comment" />
                                        <div class="work-actions">
                                            <a href="view" class="view"><i class="icon-eye-open"></i></a>
                                            <a href="comment" class="comment"><i class="icon-comment"></i></a>
                                            <a href="delete" class="delete"><i class="icon-trash"></i></a>
                                        </div>
                                    </div>
                                }
                            </div>
                                <div class="no-work-til-brooklyn">
                                    <h3>Nothing to see here</h3>
                                    <p>Get started associating work and experiences with that big green button to the left there.</p>
                                </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
                <label>Reflections on earning the <span class="badge-title">@Model.Badge.Name</span></label>
                <textarea name="reflections" class="form-control" placeholder="Summarize your thoughts here. Why are you qualified to earn this badge?">@Model.Reflection</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Save</button>
                <button type="submit" class="btn btn-success" formaction="@Url.Action("Submit", "Badge", new { id = Model.Badge.Id })"><i class="icon-flag"></i> Submit</button>
                <a href="#" class="btn btn-default"><i class="icon-remove"></i> Cancel</a>
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div id="associate-work" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="associate-work-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="associate-work-label">Associate Work</h3>
            </div>
            <div class="modal-body">
                <div class="well well-sm">
                    <h4>Selected Criteria</h4>
                    <blockquote><p id="current-criterion"></p></blockquote>
                </div>
                <form>
                    <input id="searchbox" type="search" class="form-control" placeholder="Search Your Experiences & Work"/>
                </form>
                <hr/>
                <i id="work-loading-indicator" class="icon-spinner icon-spin"></i>
                <div class="panel-group" id="experience-accordion">
                    <div class="panel panel-default" data-bind="foreach: experiences">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#experience-accordion" data-bind="html: name, attr: { href: '#collapse' + $index() }"></a>
                                <a href="#" target="_blank" class="pull-right"><i class="icon-external-link"></i></a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" data-bind="attr: { id: 'collapse' + $index() }, css: { 'in': $index() === 0 }">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 well well-sm">
                                        <a href="#" class="association" data-bind="attr: { id: id, 'data-text': name }" data-type="experience">
                                            <img alt="Experience Picture" data-bind="attr: { src: coverImageUrl }" style="width: 500px; height: 100px; display: block;"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="nav nav-pills" data-bind="foreach: work">
                                        <li>
                                            <a href="#" class="association" data-bind="attr: { id: Id, 'data-text': Description, 'data-worktype': Type }" data-type="work">
                                                <strong data-bind="html: Type"></strong> <span data-bind="html: Description"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
            }
        </div>
    </div>
</div>

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/earn")
    @Scripts.Render("~/bundles/isotope")

    <script>
        Badges.options({
             MyExperiencesUrl: '@Html.Raw(Url.Action("MyExperiences"))',
             MyWorkUrl: '@Html.Raw(Url.Action("MyWork"))',
             TypeaheadExperiencesUrl: '@Html.Raw(Url.Action("MyExperiences", "Json"))',
             TypeaheadWorkUrl: '@Html.Raw(Url.Action("MyWork", "Json"))'
        });

        $(function() {
            Badges.init();

            $('#associated-work').isotope({
                // options
                itemSelector: '.work-item',
                layoutMode: 'masonry'
            });

        });
    </script>
}
