@model Badges.Models.Profile.ProfileEditModel

<div class="container form">
    <form>
        <!-- Example row of columns -->
        <div class="row">
            <div class="intro col-md-4">
                <h2>New around here?</h2>
                <p>Welcome to the UC Davis Sustainable Agriculture and Food Systems Badges project! Tell us a little more about yourself, then we’ll move right along to the fun parts.</p>
            </div>
            <div class="edit-profile col-md-4">
                <h2>Edit your profile</h2>
                <p>Need to freshen up your details? Be our guest!</p>
            </div>
            <div class="basics top col-md-4">
                <h3>Basics</h3>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Profile.FirstName, new {@class = "form-control required", placeholder = "First Name"})
                    @Html.ValidationMessageFor(x => x.Profile.FirstName)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Profile.LastName, new {@class = "form-control required", placeholder = "Last Name"})
                    @Html.ValidationMessageFor(x => x.Profile.LastName)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Profile.Email, new {@class = "form-control required", placeholder = "Email Address"})
                    @Html.ValidationMessageFor(x => x.Profile.Email)
                </div>
            </div>
            <div class="profilepic top col-md-4">
                @*<a href="#">
                    <img src="@Url.Content("~/Content/img/profile-upload.jpg")" alt="Upload a photo" />
                </a>*@
                <div class="thumbnail">
                    @Html.Action("ViewProfileImage")
                    <div class="caption">
                        <p>
                            <label for="image">Replace Profile Picture</label>
                            <input type="file" id="profile-upload" name="image" accept="image/*" />
                        </p>  
                    </div>
                </div>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="helptext col-md-4">
                <div class="row">
                <i class="icon-info-sign col-md-3"></i>
                <p class="col-md-8">Why did you choose the SAFS major? What brought you to UC&nbsp;Davis?</p>
                </div>
            </div>
            <div class="bio col-md-8">
                <h3>Your bio</h3>
                <div class="form-group">
                    @Html.TextAreaFor(x => x.Profile.Bio, new {@class = "form-control"})
                </div>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="helptext col-md-4">
                <div class="row">
                <i class="icon-info-sign col-md-3"></i>
                <p class="col-md-8">What do you hope to learn here at UC&nbsp;Davis?</p>
                </div>
            </div>
            <div class="goals col-md-8">
                <h3>Goals and interests</h3>
                <div class="form-group">
                    @Html.TextAreaFor(x => x.Profile.Goals, new {@class = "form-control"})
                </div>
            </div>
        </div><!--/.row-->
        @if (!User.IsInRole("I") && !User.IsInRole("A"))
        {
        <div class="row">
            <div class="helptext col-md-4">
                <div class="row">
                <i class="icon-info-sign col-md-3"></i>
                <p class="col-md-8">What is your relationship to ASI?</p>
                </div>
            </div>
            <div class="goals col-md-8">
                <h3>Are you an instructor?</h3>
                    <div class="clearfix">
                        @Html.RadioButtonFor(x => x.isInstructor, true, new { @class = "form-control" }) <h4>Yes, I am an instructor</h4>
                    </div>
                    <div class="clearfix">
                        @Html.RadioButtonFor(x => x.isInstructor, false, new { @class = "form-control" }) <h4>No, I am not an instructor</h4>
                    </div>
                
            </div>
        </div><!--/.row-->   
        }
        <div class="row">
            <div class="helptext col-md-4">
                <div class="row">
                    <i class="icon-info-sign col-md-3"></i>
                    <p class="col-md-8">Debug remove me</p>
                </div>
            </div>
            <div class="goals col-md-8">
                <h3>Your account type</h3>
                <div class="form-group">
                    @this.Select("Roles").Options(Model.Roles, x => x.Id, x => x.Name).Class("form-control requried")
                    @Html.ValidationMessageFor(x => x.Roles)
                </div>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="actions col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-success">
                    <i class="icon-ok button-icon"></i> Save it
                </button>
                <a href="@Url.Action("Index", "Home")" class="btn btn-default"><i class="icon-remove button-icon"></i> Cancel</a>
            </div>
        </div><!--/.row-->
    </form>
</div>