@model Badges.Models.Profile.ProfileEditModel

<div class="container form">
    <form>
        <!-- Example row of columns -->
        <div class="row">
            <div class="intro col-md-4">
                <h2>New around here?</h2>
                <p>Welcome to the UC Davis Sustainable Agriculture and Food Systems Badges project! Tell us a little more about yourself, then we’ll move right along to the fun parts.</p>
            </div>
            <div class="basics col-md-4">
                <h3>Basics</h3>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Profile.FirstName, new {@class = "form-control required", placeholder = "First Name"})
                    @Html.ValidationMessageFor(x => x.Profile.FirstName)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Profile.LastName, new {@class = "form-control required", placeholder = "Last Name"})
                    @Html.ValidationMessageFor(x => x.Profile.LastName)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Profile.Email, new {@class = "form-control required", placeholder = "Email Address"})
                    @Html.ValidationMessageFor(x => x.Profile.Email)
                </div>
            </div>
            <div class="profilepic col-md-4">
                @*<a href="#">
                    <img src="@Url.Content("~/Content/img/profile-upload.jpg")" alt="Upload a photo" />
                </a>*@
                <div class="thumbnail">
                    @Html.Action("ViewProfileImage")
                    <div class="caption">
                        <p>
                            <label for="image">Replace Profile Picture</label>
                            <input type="file" id="profile-upload" name="image" accept="image/*" />
                        </p>  
                    </div>
                </div>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="helptext col-md-4">
                <p>Why did you choose the SAFS major? What brought you to UC Davis?</p>
            </div>
            <div class="bio col-md-4">
                <h3>Your bio</h3>
                <div class="form-group">
                    <textarea type="text" placeholder="" class="form-control"></textarea>
                </div>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="helptext col-md-4">
                <p>What do you hope to learn here at UC Davis?</p>
            </div>
            <div class="goals col-md-4">
                <h3>Goals and interests</h3>
                <div class="form-group">
                    <textarea type="text" placeholder="" class="form-control"></textarea>
                </div>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="helptext col-md-4">
                <p>What is your relationship to ASI?  Are you a student or instructor?</p>
            </div>
            <div class="goals col-md-4">
                <h3>Your account</h3>
                <div class="form-group">
                    @this.Select("Roles").Options(Model.Roles, x=>x.Id, x=>x.Name).Class("form-control requried")
                    @Html.ValidationMessageFor(x => x.Roles)
                </div>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="actions col-md-offset-4 col-md-4">
                <a href="@Url.Action("Index", "Home")" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-success">
                    <i class="icon-save button-icon"></i> Save it
                </button>
            </div>
        </div><!--/.row-->
    </form>
</div>