@model Badges.Areas.Admin.Controllers.BadgeCategoryViewModel

<form method="POST" class="form-horizontal well-small" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Badge Category</legend>
        <div class="form-group">
            @Html.LabelFor(x=>x.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group">
            @if (string.IsNullOrWhiteSpace(Model.ImageUrl))
            {
                <img id="badge-preview" height="120" width="120"></img>
            }
            else
            {
                <img id="badge-preview" src="@Model.ImageUrl" alt="Badge Image" height="120" width="120"></img>
            }
            <label for="badge-image">Badge Image</label>
            <input id="badge-image" name="file" type="file" accept="image/*" required="required"/>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            @Html.ActionLink("Cancel", "Index", null, new {@class="btn btn-link"})
        </div>
    </fieldset>
</form>