@model IEnumerable<Badges.Core.Domain.BadgeCategory>

@{
	ViewBag.Title = "Index";
}

<h2>Badge Categories</h2>


@section SubNav
{
	<li>@Html.ActionLink("Create New", "Create")</li>
}

<a href="@Url.Action("Create")" class="btn btn-large">Create New</a>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th></th>
		    <th>
		        Name
		    </th>
            <th>Image</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				<a href='@Url.Action("Edit", new {id=item.Id})' class="btn" title="Edit"><i class="icon-edit"></i></a>
			</td>
		    <td>
		        @item.Name
		    </td>
		    <td>
		        <div class="img-thumbnail">
		            <img src="@item.ImageUrl" alt="Badge Icon" height="120" width="120"/>
		        </div>
		    </td>
		    <td>
		        @using (Html.BeginForm("Delete", "BadgeCategory"))
		        {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", item.Id)
                    <button type="submit" class="btn btn-danger"><i class="icon-remove"></i></button>
		        }
		    </td>
		</tr>
}
	</tbody>
</table>

